body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
h1{
  font-size: 562.5%;
  font-family: 'Sacramento', cursive;
  line-height: 2;
  margin: 50px auto 0 auto;
  color: #F2A71B;
}
h2{
  font-size: 2.5em;
  font-weight: normal;
  color: #F2A71B;
}
h3{
  color: #BFB78F;
}
a{
  color: #BFB78F;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}
a:hover{
  color: #F2A71B;
}
hr{
  border-style: dotted none none none;
  border-width: 7px;
  border-color: #A5A692;
  width: 4%;
  margin: 100px auto;
}
p{
  line-height:2;
}
/**************************class set*****************/
.pro{
  text-decoration: underline;
}
.bio{
  margin: auto;
  width: 25%;
}
.top-container{
  background-color: #025E73;
  position: relative;
  padding-top: 100px;
}
.middle-container{

}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.bottom-container{
  background-color: #025E73;
  padding: 50px 0 20px;
}
.top-cloud{
position:absolute;
right:300px;
top: 50px;

}
.bottom-cloud{
  position:absolute;
  left: 300px;
  bottom: 300px;
}
.code-img{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.python-img{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.code-skill-desc{
}
.python-skill-desc{
}
.contact-me{
  width: 40%;
  margin: 40px auto 60px;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  margin: 20px 0;
}
.btn {
  background: #025E73;
  background-image: -webkit-linear-gradient(top, #025E73, #011F26);
  background-image: -moz-linear-gradient(top, #025E73, #011F26);
  background-image: -ms-linear-gradient(top, #025E73, #011F26);
  background-image: -o-linear-gradient(top, #025E73, #011F26);
  background-image: linear-gradient(to bottom, #025E73, #011F26);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #011F26;
  background-image: -webkit-linear-gradient(top, #011F26, #025E73);
  background-image: -moz-linear-gradient(top, #011F26, #025E73);
  background-image: -ms-linear-gradient(top, #011F26, #025E73);
  background-image: -o-linear-gradient(top, #011F26, #025E73);
  background-image: linear-gradient(to bottom, #011F26, #025E73);
  text-decoration: none;
}
