/****************************Tag Selectors***********************/
body {
    background-color: #E8E8E7;
  }
hr {
    border-style: dotted none none none;
    border-color: grey;
    border-width: 5px;
    width: 4%

}
h1 {
  color: #66BFBF;
}
h3 {
  color: #66BFBF;
}
/****************************class Selectors***********************/

/****************************id Selectors***********************/
#profile{
    height: 200px;
    border-radius: 100%
}
